<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DrawMap</servlet-name>
        <servlet-class>com.redoute.bizmap.servlet.DrawMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMeteoInformation</servlet-name>
        <servlet-class>com.redoute.bizmap.servlet.GetMeteoInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductBought</servlet-name>
        <servlet-class>com.redoute.bizmap.servlet.GetProductBought</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DrawMap</servlet-name>
        <url-pattern>/DrawMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMeteoInformation</servlet-name>
        <url-pattern>/GetMeteoInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductBought</servlet-name>
        <url-pattern>/GetProductBought</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>webappbizmap.root</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
</web-app>
